
services:
  mydb:
      image: postgres:16-alpine
      container_name: postgres_db
      restart: unless-stopped
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: mydb
      ports:
      - "5432:5432"
      volumes:
      - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 5
  test_db: 
      image: postgres:16-alpine
      container_name: test_postgres_db
      environment:
        POSTGRES_USER: test
        POSTGRES_PASSWORD: test
        POSTGRES_DB: test_db
      ports:
      - "5433:5432"
  redis:
    image: redis:8-alpine
    volumes: 
      - redis_data:/var/lib/redis/data
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a mygoodpassword ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command: redis-server --save 20 1 --loglevel warning --requirepass mygoodpassword


volumes:
  postgres_data:
    driver: local
  redis_data:
      driver: local